
@{
    ViewBag.Title = "showAllUsers";
    Layout = "~/Views/Shared/AfterLogin.cshtml";
    var userList = (IEnumerable<user>)ViewData["UserList"];
}

<style>
    .outer{
        display:flex;
        height:50vh;
        width:100%;
        border:1px solid black;
        justify-content:center;
    }
    .inner{
        display:flex;
        border:1px solid black;
        margin:5%;
        width:50%;
        justify-content:center;
        flex-direction:column;
        align-items:center;
    }
    .inner h2{
        border:1px solid black;
        padding:2%;
    }
</style>
<div class="outer">
    <div class="inner">
        <h1>List of All Users</h1>
        <table border="1">
            @{
                foreach (var item in userList)
                {
                    <tr>
                        <td style="padding: 20px;">@item.firstname</td>
                        <td style="padding: 20px;">@item.lastname</td>
                        <td style="padding: 20px;">@item.email</td>
                        <td style="padding: 20px;">@item.password</td>
                        <td style="padding: 20px;"><a href="@Url.Action("deleteUser", "Home", new { x = item.id })">Delete User</a></td>
                    </tr>
                }


            }
        </table>
    </div>
</div>