<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <style>
        .header {
            display: flex;
            background-color: #b3e3f8;
            padding: 15px;
            justify-content: right;
            position: sticky;
            top: 0;
            z-index: 999;
        }

        .aa {
            padding: 0.8% .8%;
            text-decoration: none;
            color: black;
            margin-right: 1%;
            font-size: 1.1em;
            border: 1px solid gray;
            font-family: serif;
            border-radius: 5px;
            background-color: white;
        }

            .aa:hover {
                background-color: #b3e3f8;
                border-radius: 5px;
                color: black;
            }

        .footer {
            display: flex;
            background-color: #26547C;
            padding: 25px;
            justify-content: center;
        }

        .aaa {
            padding: 1%;
            text-decoration: none;
            color: #dbd6d6;
            margin-right: 1%;
            font-size: 1.1em;
            margin: 2%;
        }

            .aaa:hover {
                background-color: #dbd6d6;
                border-radius: 5px;
                color: black;
            }

        .body-content {
            height: auto;
        }

        .body {
            display: flex;
            justify-content: space-between;
        }

        .text {
            width: 60%;
            background-image: linear-gradient(to bottom right, #b3e3f8, #26547C);
            height: 100vh;
        }

            .text h1 {
                font-family: Cursive;
                text-align: center;
                margin-top: 20%;
                text-shadow: 2px 2px white;
            }

        .register {
            display: flex;
            justify-content: center;
            margin: 20% 0;
        }

        .modal-header {
            justify-content: center;
            font-family: serif;
            background-color: whitesmoke;
            text-shadow: 1px 1px white;
        }

        input {
            border-radius: 10px;
            border: 1px solid black;
            padding: 5%;
        }

        select {
            width: 110%;
            padding: 5%;
            border-radius: 10px;
            border: 1px solid black;
        }
    </style>

</head>
<body>
    <div class="header">
        <button class="aa">@Html.ActionLink("Home", "Index", "Home")</button>
        <button class="aa">@Html.ActionLink("About", "Index", "Home")</button>
        <button class="aa">@Html.ActionLink("Contact", "Index", "Home")</button>
        <button class="aa">@Html.ActionLink("Login", "login", "Home")</button>
    </div>
    <div class="container body-content">
        @RenderBody()


    </div>
    <div class="footer">
        <a href="index.php" class="aaa">Home</a>
        <a href="" class="aaa">Announcements</a>
        <a href="" class="aaa">About us</a>
        <a href="" class="aaa">Contact us</a>
    </div>

</body>

</html>
